@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  list-style: none;
  min-height: -webkit-fill-available;
  background-color: #0C0B08;
  font-family: 'Open Sans',sans-serif;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

html {
  height:-webkit-fill-available;
}

.title {
  color:#DCCA87
}

.subTitle {
  color:#AAAAAA;
}